@import url('https://fonts.googleapis.com/css2?family=Notable');
body
{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#header
{
	background-color: red;
	height: 160px;
	border: solid 4px;
	display: flex;
	justify-content: center;
}
#logo
{
	width: 220px;
	height: 160px;
	padding-right: 30%;
}
#payoff
{
	align-self: flex-end;
	padding-right: 40%;
}
#title
{
	align-self: center;
}
#navigation
{
	font-size: 20px;
	background-color: purple;
	padding-top: 5px;
    border: solid 2px;
	margin-top: 5px;
	text-align: center;
	color: white;
	display: flex;
	padding-left: 100px;
}
#nav
{ 
	padding-left: 4px;
	display:absolute;
}
.navlist
{
	display: inline-block;
	inline-size:455px;
	padding: 20px;
	border: solid 2px;
	background-color: green;
	margin-right: 2%;
	margin-left: 2%;
}


a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
#video
{ 
	height: auto;
	width: 100%;
	border: 5px yellow;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: pink;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
#footer
{
	background-color: brown;
	width: 100%;
	
}
#flexaside
{
	background-color: #46C050;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;	
	width: 25%;
}
h4
{
	color: ymck(0%, 22%, 83%, 0%);
}
#flex	
{
	display: flex;
	flex-flow: column-wrap;
	height: 200%;
}
#article
{	
	flex: 1;
	background-color: pink;
}
#flexheader
{
	display: flex;
	justify-content: center;
	background-color: orange;
}
#flexfooter
{
	display: flex;
	background-color: grey;
}
#img
{
	float:right;
	display: flex;
	flex: 1;
	position: relative;
	width: 320px;
	height: 180px;
	margin: 5px;
	margin-top: 15px;
}
#topdestinations
{
	padding-left: 20px;
	padding-right: 10px;
}

/*Cookie statement*/
#cookies
{
  position: fixed;
  bottom: 1px;
  left: 93%;
  width: 5%;
  height: 5%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FA0;
  border-radius: 5px;
  opacity: 50%;
  color: #FFF;
  z-index: 9999;
  font-family: Notable;
  font-size: 0.7em;
  
}
#grid-container
{
	font-size: 20px;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(3, 1fr);
	
	
	gap: 0px;
   height: 300px;

}
#grid-container > article
{
	background-color: #EEE;
	border: solid 2px;
	padding: 10px 10px;
	text-align: center;
	word-spacing: 5px;
	text-indent: 1em;
	line-height: 2;
	letter-spacing: 2px;

}
#grid-container aside
{
	background-color: magenta;
	text-align: center;
	padding-left: 5px;
	border: solid 2px;
}
#article1
{
	grid-row: 1/7;
	grid-column: 2;
}
#article2
{
	grid-row: 1/3;
	grid-column: 1;
}
#article3
{
	grid-row: 1/4;
	grid-column: 3;
}
#article4
{
	grid-row: 4/7;
	grid-column: 3;
}
#article5
{
	grid-row: 4/8;
	grid-column: 1;
}
#article6
{
	grid-row: 7/8;
	grid-column: 2/4;
}
}
#gridaside
{
	background-color: magenta;
	padding-left: 5px;
	border: solid 2px;
}
#asideimg
{
	width: 450px;
	height: 300px;
	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#ticketarticle
{
	background-color: #FF1493;
	border: dotted 2px;
	padding-left: 10px;
	margin: 5px;
}
table
{
	width: 72%;
}
td, th
{
	text-align: left;
	padding: 8px;
}
tr
{
	background-color: #FFF;
}
tr:nth-child(even)
{
	background-color: #CFF;
} 
tr:first-child
{
	background-color: #FF0;
}
#tablesection
{
	background-color: #B0C4DE;
	border: solid 2px;
	border-color: #800000;
	border-style: double;
	overflow: auto;
}
#tablefooter
{
	background-color: #BA55D3;
	margin-top: -2px;
}
#tableaside
{
	padding-right: 40px;
	padding-left: 40px;
	border: dotted 5px;
	background-color: #FF4500;
}
#asides
{
	float: right;
	margin: 0px;
}
#imgs
{
	height: 230px;
	width: 330px;
}

fieldset
{
	width: 60%;
}

input[type=text], select 
{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=email]
{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] 
{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 35px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #45a049;
}

h4:first-letter
{
	font-size: 150%;
}

form
{
	margin: 5px;
	position: absolute;
	width: 100%;
}

#hamburgermenu
{
	display: none;
}
#menuToggle
{
	display:none;
}


@media (max-width: 1180px)
{
	#img
	{
		float: left;
	}
	#flexaside
	{
		
	}
}

@media (max-width: 480px)
{
#video
{
	display: none;
}
#img
{
	margin: 50px 50px;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

}
